<div class="header">
  <div class="left-part ml-5">
    <a routerLink="../main-page" class="mr-5">
      <img class="logo" src="./assets/content/logo/logo.png" alt="">
    </a>
    <a *ngIf="(isLoggedIn | async)" class="link-header" style="border-left: 1px solid #798024" (click)="navCalendar()">Calendar</a>
    <a *ngIf="(isLoggedIn | async)" class="link-header" (click)="navReports()">Reports</a>
    <a *ngIf="(isLoggedIn | async)" class="link-header" (click)="navDashboard()">Scrumboard</a>
  </div>

  <div class="right-part">
    <button *ngIf="(isLoggedIn | async)" class="link-header" id="cometchat" (click)="openChat()">
      <img class="menu" src="./assets/content/icons/phone.png" alt="Menu">
    </button>
    <a *ngIf="!(isLoggedIn | async)" class="link-header" routerLink = "../login">Login</a>
    <a *ngIf="!(isLoggedIn | async)" class="link-header" routerLink = "../register">Register</a>
    <a *ngIf="(isLoggedIn | async)" class="link-header" (click)="logout()" routerLink = "../login">Logout</a>
  </div>
</div>



