<form (ngSubmit)="save()" [formGroup]="form">
  <div class="mb-0 body-1" mat-dialog-title>
    <div>
      <h2 class="title m-0" fxLayout="row" fxLayoutAlign="start center">
        <ic-icon [icon]="icAssignment" class="ltr:mr-1 rtl:ml-1 text-secondary" fxFlex="none" size="24px"></ic-icon>
        <input [class.empty]="!form.get('title').value"
               class="hidden-input title bg-card"
               formControlName="title"
               fxFlex="auto">
        <button cdkFocusInitial class="text-secondary" mat-dialog-close mat-icon-button type="button">
          <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
      </h2>

      <div class="body-2 text-secondary ltr:ml-10 rtl:mr-10" fxLayout="row" fxLayoutAlign="start center">
        <span>{{ board?.label }}</span>
        <div class="w-1 h-1 mx-2 bg-gray rounded-full"></div>
        <span>{{ list?.label }}</span>
      </div>
    </div>

    <div
         class="ltr:ml-10 rtl:mr-10" fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="none">
        <div fxLayout="row" fxLayoutAlign="space-evenly center" >
          <mat-form-field style="margin-right: 50px">
            <mat-label>Member</mat-label>
            <mat-select formControlName="userUuids" multiple>
              <mat-option *ngFor="let user of users" [value]="user.id">{{user.username}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Choose a deadline</mat-label>
            <input matInput formControlName="deadline" [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>

    <mat-divider class="-mx-6 mt-6"></mat-divider>
  </div>

  <mat-dialog-content class="pb-6 content">
    <div class="mt-3 ltr:ml-10 rtl:mr-10" fxLayout="row wrap" fxLayoutAlign="space-between start">
      <div class="members" fxFlex="none">
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-form-field style="margin-right: 50px">
            <mat-label>Select weight</mat-label>
            <mat-select formControlName="weight" >
              <mat-option *ngFor="let w of weights" [value]="w.id">{{w.val}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-divider class="-mx-6 mt-6"></mat-divider>

  </mat-dialog-content>

  <mat-dialog-content class="pb-6 content">

    <h2 class="body-2 font-medium m-0 text-secondary" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icDescription" class="ltr:mr-4 rtl:ml-4" fxFlex="none" size="24px"></ic-icon>
      <span>DESCRIPTION</span>
    </h2>

    <div class="ltr:ml-10 rtl:mr-10 mt-3" fxLayout="column">
      <mat-form-field appearance="outline" class="vex-dense-form-field body-1">
        <textarea cdkAutosizeMinRows="2"
                  formControlName="description"
                  matInput
                  matTextareaAutosize
                  placeholder="Add a description ..."></textarea>
      </mat-form-field>
    </div>

    <mat-divider class="-mx-6 mt-6"></mat-divider>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button color="primary" mat-raised-button type="submit">SAVE</button>
  </mat-dialog-actions>
</form>

