<!-- This flex container takes the full height and vertically centers the content -->
<div class="box">
  <div class="login">
    <form [formGroup]="form" #loginForm="ngForm">
      <label for="email">Login</label>
      <input id="email" formControlName="login" type="email" required class="form-control square" />
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password" required class="form-control square" />
      <a href="/forgot-password">Forgot password?</a>
      <div class="abutton">
        <button (click)="send()" [disabled]="!loginForm.valid" type="submit" class="btn">Log in</button>
      </div>
    </form>
  </div>

</div>
