<h3 matDialogTitle>
  {{ event.title }}
</h3>

<mat-dialog-content>
  <form >
    <div class="flex flex-col">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input disabled name="title" [(ngModel)]="event.meta.title" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input disabled [matDatepicker]="startDatepicker" name="deadline" [(ngModel)]="event.meta.deadline" matInput>
        <mat-datepicker-toggle [for]="startDatepicker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea disabled name="description" [(ngModel)]="event.meta.description" matInput>
        </textarea>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions class="flex justify-end">
  <button mat-button mat-dialog-close>CLOSE</button>
</mat-dialog-actions>
