@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@vex/styles/core";
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

/*
  You can override any CSS Variable or style here
  Example:

  :root {
   --sidenav-background: #333333;
  }

  All possible variables can be found in @vex/styles/core or by simply inspecting the element you want to change
  in Chrome/Firefox DevTools
*/

/**
  Uncomment the below code and adjust the values to fit your colors, the application will automatically adjust
 */
:root {
  --color-primary: 222, 186, 102 ;
  --color-primary-contrast: 255, 255, 255;

  --color-accent: 90, 152, 110;
  --color-accent-contrast: 46, 127, 117;

  --color-warn: 37, 100, 110;
  --color-warn-contrast: 47, 72, 88;
}
